@import "tailwindcss";

:root {
  color-scheme: light dark;
}

@theme {
  --color-theme-surface-0: var(--color-theme-surface-0);
  --color-theme-surface-1: var(--color-theme-surface-1);
  --color-theme-surface-2: var(--color-theme-surface-2);
  --color-theme-surface-3: var(--color-theme-surface-3);
  --color-theme-primary: var(--color-theme-primary);
  --color-theme-priority-low: var(--color-theme-priority-low);
  --color-theme-priority-medium: var(--color-theme-priority-medium);
  --color-theme-priority-high: var(--color-theme-priority-high);
}

/* catppuccin mocha theme */
.catppuccin {
  --color-theme-surface-0: #181825;
  --color-theme-surface-1: #1E1E2E;
  --color-theme-surface-2: #313244;
  --color-theme-surface-3: #45475a;
  --color-theme-primary: #CBA6F7;
  --color-theme-priority-low: #a6e3a1;
  --color-theme-priority-medium: #f9e2af;
  --color-theme-priority-high: #f38ba8;
}

/* kanagawa theme */
.kanagawa {
  --color-theme-surface-0: #1F1F28;
  --color-theme-surface-1: #2E2E38;
  --color-theme-surface-2: #3E3E4A;
  --color-theme-surface-3: #4E4E5A;
  --color-theme-primary: #B4BEFE;
  --color-theme-priority-low: #A6E3A1;
  --color-theme-priority-medium: #E9D8EE;
  --color-theme-priority-high: #E8A2AF;
}
